body{
    background-color:lightpink;
    display: flex;
    justify-content: center;
}

.box{
    margin-top: 100px;
    padding: 40px;
    border: 1px gray solid;
    border-radius: 5px;
    background-color:lightblue;
}

.box div{
font-size: 30px;
color: white;
font-family: sans-serif;
margin-top: 10px;
}